.main{
    width: 100vw;
    min-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: none;

    &__body{
        height: calc(100vh - 150px - 1rem); //minus header height
    }
}

.cursor{
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid rgb(140, 140, 140);
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property:  transform;
    transform-origin: 100% 100%;
    backdrop-filter: sepia(20%);
    background-size: cover;
}
